extends mainLayout.pug

block meta
  meta(name='robots', content='noindex, nofollow')
block content
  div(class="cookies-disclaimer")
    div(class="art-wrapper")
      div(class="pixelart-cookie")
    h2 Local Storage and Cookies info
    
    h3 Local Storage
    p Local storage allows to keep save your work even if you close the browser.
    p There is only one local storage key entry, which contains all your saved projects information:
    ul
      li
        span(class="highlight")
          | pixelart-react-v3-0-0
    h3 Cookies
    p The following are the two types used:
    ul
      li
        a(target="_blank", href="https://github.com/expressjs/session")
          | Express session cookie:
          |
        span(class="highlight")
          | connect.sid      
